[Unit]
 Description=ReadBME280
 After=multi-user.target

 [Service]
 Type=idle
 User=pi
 ExecStart=/usr/bin/python /home/pi/Control/readBME280.py
 Restart=always

 [Install]
 WantedBy=multi-user.target



